Crop_Flow.json
[{"id":"17327935.be85b7","type":"tab","label":"Crop_AutoAI_Flow_1","disabled":false,"info":""},{"id":"2029a4ea.6ef53c","type":"ui_template","z":"17327935.be85b7","d":true,"group":"c81d94e3.82cb78","name":"","order":1,"width":"6","height":"4","format":"<img ng-src=\"https://thumbs.dreamstime.com/b/young-eggplants-grow-field-vegetable-rows-agriculture-farming-farmlands-landscape-agricultural-land-young-eggplants-120398818.jpg\" />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":80,"y":40,"wires":[[]]},{"id":"a64250a7.ab228","type":"ui_form","z":"17327935.be85b7","name":"","label":"","group":"89493a0a.194cc8","order":1,"width":"7","height":1,"options":[{"label":"Nitrogen Level","value":"n","type":"number","required":true,"rows":null},{"label":"Phosphorous Level","value":"p","type":"number","required":true,"rows":null},{"label":"Potassium Level","value":"k","type":"number","required":true,"rows":null},{"label":"ph","value":"ph","type":"number","required":true,"rows":null},{"label":"Area","value":"area","type":"number","required":true,"rows":null}],"formValue":{"n":"","p":"","k":"","ph":"","area":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":true,"x":70,"y":180,"wires":[["8f26545a.a9cfe8","28eb8036.e2b0d"]]},{"id":"cf43d10f.e0488","type":"ui_form","z":"17327935.be85b7","name":"","label":"","group":"c81d94e3.82cb78","order":2,"width":"6","height":1,"options":[{"label":"Enter District Name","value":"city","type":"text","required":true,"rows":null}],"formValue":{"city":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":70,"y":80,"wires":[["928e982b.2c3138"]]},{"id":"928e982b.2c3138","type":"function","z":"17327935.be85b7","name":"set get params","func":"global.set(\"city\",msg.payload.city)\n\nmsg.city = msg.payload.city\nmsg.api = \"2a2e905cc1ff1395281c7e07109bd322\"\nmsg.units = \"metric\"\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":80,"wires":[["2c6fd4e4.18f62c","1db559b0.da2af6"]]},{"id":"2c6fd4e4.18f62c","type":"http request","z":"17327935.be85b7","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"https://api.openweathermap.org/data/2.5/weather?q={{{city}}}&units={{{units}}}&appid={{{api}}}","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":80,"wires":[["a64250a7.ab228","9276b803.b843d8","91cc6f92.76aff","63cd2a9f.ee7b44","f01e8604.4f5598","402ffacf.9825a4","392cdfb5.176e2","9f483759.ef58a8"]]},{"id":"1db559b0.da2af6","type":"http request","z":"17327935.be85b7","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"https://api.openweathermap.org/data/2.5/forecast?q={{{city}}}&units={{{units}}}&appid={{{api}}}&cnt=40","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":120,"wires":[["7aea7d80.415c84"]]},{"id":"7aea7d80.415c84","type":"function","z":"17327935.be85b7","name":"","func":"var avg = 0\n\nfor (var i=0;i<40;i++) {\n    if (msg.payload.list[i].rain)\n    {\n        avg = avg + msg.payload.list[i].rain[\"3h\"]\n    }\n}\n\navg = avg / 40\navg = avg * 10\n\nglobal.set(\"avg\",avg)\nmsg.avg = avg\n\n\nglobal.set(\"rain\",msg.avg)\nglobal.set(\"city\",msg.payload.name)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":120,"wires":[["a64250a7.ab228","4ee6b7ce.075be8"]]},{"id":"91cc6f92.76aff","type":"ui_text","z":"17327935.be85b7","d":true,"group":"c81d94e3.82cb78","order":6,"width":"0","height":"0","name":"","label":"Temperature (Celsius)","format":"{{msg.payload.main.temp}}","layout":"row-spread","x":440,"y":180,"wires":[]},{"id":"63cd2a9f.ee7b44","type":"ui_text","z":"17327935.be85b7","d":true,"group":"c81d94e3.82cb78","order":7,"width":0,"height":0,"name":"","label":"Humidity (%)","format":"{{msg.payload.main.humidity}}","layout":"row-spread","x":630,"y":180,"wires":[]},{"id":"f01e8604.4f5598","type":"ui_text","z":"17327935.be85b7","group":"c81d94e3.82cb78","order":4,"width":0,"height":0,"name":"","label":"Wind Speed (m/s)","format":"{{msg.payload.wind.speed}}","layout":"row-spread","x":310,"y":220,"wires":[]},{"id":"9276b803.b843d8","type":"ui_text","z":"17327935.be85b7","group":"c81d94e3.82cb78","order":3,"width":0,"height":0,"name":"City","label":"District","format":"{{msg.payload.name}}","layout":"row-spread","x":270,"y":180,"wires":[]},{"id":"4ee6b7ce.075be8","type":"ui_text","z":"17327935.be85b7","group":"c81d94e3.82cb78","order":5,"width":0,"height":0,"name":"","label":"Average Rainfall in next 5 days (mm)","format":"{{msg.avg}}","layout":"row-spread","x":590,"y":220,"wires":[]},{"id":"8f26545a.a9cfe8","type":"function","z":"17327935.be85b7","name":"global variables for form node","func":"global.set(\"n\",msg.payload.n)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"k\",msg.payload.k)\nglobal.set(\"ph\",msg.payload.ph)\nglobal.set(\"area\",msg.payload.area)\n\n\nvar apikey = \"zjdxOLpajlago2_oOO-H1EoJ3j86EOfHIz1-fP6fWN_O\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":280,"wires":[["d5928bc4.ced968"]]},{"id":"d5928bc4.ced968","type":"http request","z":"17327935.be85b7","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":280,"wires":[["c3a0d132.64a6b"]]},{"id":"c3a0d132.64a6b","type":"function","z":"17327935.be85b7","name":"preprediction","func":"var n = global.get(\"n\")\nvar p = global.get(\"p\")\nvar k = global.get(\"k\")\nvar temp = global.get(\"temp\")\nvar hum = global.get(\"hum\")\nvar ph = global.get(\"ph\")\nvar rain = global.get(\"rain\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"n\", \"p\", \"k\",\"temp\", \"hum\",  \"ph\",\"rain\"]],\"values\": [[n,p,k,temp,hum,ph,rain]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":280,"wires":[["1f32ea12.e244a6"]]},{"id":"1f32ea12.e244a6","type":"http request","z":"17327935.be85b7","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/034cdb26-a1c2-4ce0-9ae2-cf6ef3d30d2f/predictions?version=2021-08-31","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":320,"wires":[["14400b92.907de4"]]},{"id":"14400b92.907de4","type":"function","z":"17327935.be85b7","name":"output","func":"msg.payload = msg.payload.predictions[0].values[0][0]\n\nglobal.set(\"crop\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":320,"wires":[["cc628f8e.5474d"]]},{"id":"cc628f8e.5474d","type":"ui_text","z":"17327935.be85b7","group":"89493a0a.194cc8","order":2,"width":0,"height":0,"name":"","label":"Best Crop:","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":320,"wires":[]},{"id":"a7f07cea.2141","type":"ui_text","z":"17327935.be85b7","group":"89493a0a.194cc8","order":3,"width":0,"height":0,"name":"","label":"Approx Production (Tonnes) :","format":"{{msg.prod}}","layout":"row-spread","x":700,"y":460,"wires":[]},{"id":"1d726312.3c4e4d","type":"ui_template","z":"17327935.be85b7","d":true,"group":"89493a0a.194cc8","name":"","order":6,"width":"6","height":"4","format":"<img ng-src=\"https://miro.medium.com/max/1188/1*h5DidNUVy4SSCnRwZUibcg.png\" />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":80,"y":380,"wires":[[]]},{"id":"402ffacf.9825a4","type":"ui_gauge","z":"17327935.be85b7","name":"","group":"c81d94e3.82cb78","order":8,"width":"3","height":"3","gtype":"gage","title":"Temperature","label":"Celsius","format":"{{msg.payload.main.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":380,"wires":[]},{"id":"392cdfb5.176e2","type":"ui_gauge","z":"17327935.be85b7","name":"","group":"c81d94e3.82cb78","order":9,"width":"3","height":"3","gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.main.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":380,"wires":[]},{"id":"2246e7ee.270a78","type":"function","z":"17327935.be85b7","name":"preyield","func":"var city = global.get(\"city\")\nvar area = global.get(\"area\")\nvar crop = global.get(\"crop\")\n\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"crop\",\"area\"]],\"values\": [[crop,area]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":300,"wires":[["db07ad21.8aae7"]]},{"id":"db07ad21.8aae7","type":"http request","z":"17327935.be85b7","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/785f52cf-547d-48be-9307-c61332f05a7d/predictions?version=2021-08-31","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":360,"wires":[["54715f50.a2ec1"]]},{"id":"54715f50.a2ec1","type":"function","z":"17327935.be85b7","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0]\n\nmsg.prod = msg.payload * global.get(\"area\")\n\nvar qui = msg.prod * 10\n\nvar crop = global.get(\"crop\")\n\nvar rev = 0\n\nif(crop==\"Rice\")\n{\n    rev = 1940   * qui\n}\n\nelse if(crop==\"Bajra\")\n{\n    rev =  2250  * qui\n}\nelse if(crop==\"Banana\")\n{\n    rev =  1000  * qui\n}\nelse if(crop==\"Cotton\")\n{\n    rev =  5726  * qui\n}\nelse if(crop==\"Groundnut\")\n{\n    rev =  5550  * qui\n}\nelse if(crop==\"Maize\")\n{\n    rev =  1870  * qui\n}\nelse if(crop==\"Moong\")\n{\n    rev =  7275  * qui\n}\nelse if(crop==\"Sugarcane\")\n{\n    rev =   300 * qui\n}\nelse if(crop==\"Tur\")\n{\n    rev = 6300   * qui\n}\nelse if(crop==\"Ragi\")\n{\n    rev =  3377  * qui\n}\nelse if(crop==\"Jowar\")\n{\n    rev =  2738  * qui\n}\nelse if(crop==\"Onion\")\n{\n    rev =  1500  * qui\n}\nelse if(crop==\"Soyabean\")\n{\n    rev =  2500  * qui\n}\nelse if(crop==\"Sunflower\")\n{\n    rev =  6015  * qui\n}\nelse if(crop==\"Wheat\")\n{\n    rev =  1975  * qui\n}\n\nmsg.rev = rev \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":400,"wires":[["a7f07cea.2141","d282afd0.cf789","1bd21d4f.8aaf43"]]},{"id":"d282afd0.cf789","type":"ui_text","z":"17327935.be85b7","group":"89493a0a.194cc8","order":4,"width":0,"height":0,"name":"","label":"Approx Yield (Tonnes/Hectare):","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":440,"wires":[]},{"id":"1bd21d4f.8aaf43","type":"ui_text","z":"17327935.be85b7","group":"89493a0a.194cc8","order":5,"width":0,"height":0,"name":"","label":"Approx Total Revenue(Rs.)","format":"{{msg.rev}}","layout":"row-spread","x":720,"y":500,"wires":[]},{"id":"9f483759.ef58a8","type":"function","z":"17327935.be85b7","name":"","func":"global.set(\"temp\",msg.payload.main.temp)\nglobal.set(\"hum\",msg.payload.main.humidity)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":80,"wires":[["a64250a7.ab228"]]},{"id":"28eb8036.e2b0d","type":"function","z":"17327935.be85b7","name":"api crop yield","func":"\nvar apikey = \"zjdxOLpajlago2_oOO-H1EoJ3j86EOfHIz1-fP6fWN_O\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":480,"wires":[["ff7e27dc.b31888"]]},{"id":"ff7e27dc.b31888","type":"http request","z":"17327935.be85b7","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":500,"wires":[["2246e7ee.270a78"]]},{"id":"cc4ea34d.b5da9","type":"ui_template","z":"17327935.be85b7","group":"4e1924f6.27e3ec","name":"","order":6,"width":"0","height":"0","format":"<style>\n    body {\n        background-image: url(\"https://wallpaperaccess.com/full/488907.jpg\");\n        background-repeat: no-repeat;\n        background-position: right top;\n        background-size: 100%;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":77,"y":422,"wires":[[]]},{"id":"c81d94e3.82cb78","type":"ui_group","name":"Crop_Predict","tab":"c1b4878e.15c1c8","order":1,"disp":true,"width":10,"collapse":false},{"id":"89493a0a.194cc8","type":"ui_group","name":"Yield","tab":"c1b4878e.15c1c8","order":2,"disp":true,"width":"10","collapse":false},{"id":"4e1924f6.27e3ec","type":"ui_group","name":"Background","tab":"c1b4878e.15c1c8","order":3,"disp":false,"width":"6","collapse":false},{"id":"c1b4878e.15c1c8","type":"ui_tab","name":"Crop_Prediction","icon":"dashboard","disabled":false,"hidden":false}]